@charset "UTF-8";

body{
    font-family:arial;
}
@media(min-width:100px) and (max-width:600px){
    body{
        background-color: rgb(48, 142, 158);
        
    }
    div{
        background-color: rgb(230, 101, 230);
        
    }
    .parrafo1{
        background-color: rgb(206, 61, 17);
        color: rgb(255, 255, 255);
    }
    #span1{
        background-color: rgb(41, 99, 187);
        color: rgb(0, 0, 0);
    }
}

@media(min-width:601px) and (max-width:800px){
    body{
        background-color: rgb(98, 128, 0);
        
    }
    div{
        background-color: rgb(3, 110, 117);
        
    }
    .parrafo1{
        background-color: rgb(127, 153, 11);
        color: black;
    }
    #span1{
        background-color: rgb(34, 5, 116);
        color: red;
    }
}

@media(min-width:801px) and (max-width:1200px){
    body{
        background-color: rgb(95, 202, 156);
        
    }
    div{
        background-color: rgb(48, 156, 142);
        
    }
    .parrafo1{
        background-color: rgb(192, 55, 13);
        color: black;
    }
    #span1{
        background-color: brown;
        color: red;
    }
}
